<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <link rel="stylesheet" href="/css/style.css">

    
</head>
<body>
<div class="container">
    <div class="container">
       <div>
           <h1>Hello world!</h1>
           <h2>Welcome: <%= user.name %></h2>
           <div>
               
                <main>

                    <div class="containers">
                        <h1 id="title">Todos</h1>

                        <div id="myDIV" class="header" style="
                        background: rebeccapurple;">
                            <h2>My To Do List</h2>
                            <input type="text" id="myInput" placeholder="Title...">
                            <span onclick="newElement()" class="addBtn">Add</span>
                          </div>
                          <ul id="myUL">

                          </ul>

                    </div>
                      <form method="POST" action="/logout">
                        <button type="submit" class="btn btn-primary" style="margin: 50px;">Log out</button>
                    </form>           
                    </div>

                    <script href="Todolist.js">

                      var myNodelist = document.getElementsByTagName("LI");
                              var i;
                              for (i = 0; i < myNodelist.length; i++) {
                                var span = document.createElement("SPAN");
                                var txt = document.createTextNode("\u00D7");
                                span.className = "close";
                                span.appendChild(txt);
                                myNodelist[i].appendChild(span);
                              }
                              var i;
                              for (i = 0; i < close.length; i++) {
                                close[i].onclick = function() {
                                  var div = this.parentElement;
                                  div.style.display = "none";
                                }
                              }

 var close = document.getElementsByClassName("close");
                              var i;
                              for (i = 0; i < close.length; i++) {
                                close[i].onclick = function() {
                                  var div = this.parentElement;
                                  div.style.display = "none";
                                }
                              }
                              var list = document.querySelector('ul');
                              list.addEventListener('click', function(ev) {
                                if (ev.target.tagName === 'LI') {
                                  ev.target.classList.toggle('checked');
                                }
                              }, false);

function newElement() {
            var li = document.createElement("li");
            var inputValue = document.getElementById("myInput").value;
            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            if (inputValue === '') {
              return;
            } else {
              document.getElementById("myUL").appendChild(li);
            }
            document.getElementById("myInput").value = "";
            var span = document.createElement("SPAN");
                                var txt = document.createTextNode("\u00D7");
                                span.className = "close";
                                span.appendChild(txt);
                                li.appendChild(span);

                                for (i = 0; i < close.length; i++) {
                                  close[i].onclick = function() {
                                    var div = this.parentElement;
                                    div.style.display = "none";
                                  }
                                }

                    
        }
        
                            
                    </script>    
                    
                  </main>              
           </div>
       </div>
    </div>
</div>
</body>
</html>